@import "./variables.scss";
@import "./_header.scss";
body {
  margin: auto;
  // width: 700px;
  font-family: $font-noto;
  background-color: $gray;
  color: $bunker;
  .main {
    // margin: auto;
    // width: 500px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
