@font-face {
  font-family: "Kosugi Maru";
  src: url("../assets/fonts/KosugiMaru-Regular.ttf");
}
@font-face {
  font-family: "Sawarabi Mincho";
  src: url("../assets/fonts/SawarabiMincho-Regular.ttf");
}

$gray: #ececec;
$sand: #f2a365;
$pantone: #30475e;
$bunker: #222831;
$link: #697a94;

$font-sawa: "Sawarabi Mincho", sans-serif;
$font-kosu: "Kosugi Maru", sans-serif;
$font-noto: "Noto Sans JP", sans-serif;
